frontend/node_modules
backend/node_modules
frontend/.env
backend/.env
backend/dist

JSX-JS-Files

frontend/**/*.jsx
frontend/**/*.js
backend/**/*.jsx
backend/**/*.js
frontend/*.jsx
frontend/*.js
backend/*.jsx
backend/*.js
backend/uploads/*